@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --intro-bg: rgba(59, 66, 82, 1.00);
    --dark-bg: rgba(216, 222, 233, 1.00);
    --light-bg: rgba(236, 239, 244, 1.00);
    --highlight-text-light: rgba(136, 192, 208, 1.00);
    --light-text: rgba(216, 222, 233, 1.00);
    --text-font: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    --heading-font: 'Titillium Web', Tahoma, Geneva, Verdana, sans-serif;
    --box-shadow: 8px 8px 0px 0px rgba(136, 192, 208, 0.25);
    --img-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

body,
html {
    margin: 0;
}

body {
    font-family: var(--text-font);
    font-size: 1.1em;
    background-color: var(--light-bg);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--dark-bg), var(--highlight-text-light), var(--dark-bg));
    width: 25%;
}

.intro {
    background-color: var(--intro-bg);
    color: var(--light-text);
    padding: 25px 10%;
    box-shadow: var(--box-shadow);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

.intro>h1 {
    color: var(--highlight-text-light);
    text-align: center;
    font-size: 2.1em;
}

.recipe-part img {
    height: 250px;
    box-shadow: var(--img-box-shadow);
}

.recipe-part>h2,
.recipe-part>p {
    text-align: center;
}

.recipe-part>h2 {
    margin: 0;
}

.recipe-part {
    padding: 5% 10px;
    border-bottom: 1px solid var(--highlight-text-light);
}

.recipe-part:nth-child(odd) {
    background-color: var(--dark-bg);
}

.ingredients,
.prep {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 100px;
}

.prep {
    flex-direction: row-reverse;
}

.footer {
    background-color: var(--intro-bg);
    padding: 25px;
    text-align: center;
    color: var(--highlight-text-light);
    font-family: var(--heading-font);
    font-size: .9em;
}

sup {
    font-size: .7em;
}

.ingredients ul {
    list-style-type: ">  ";
}

.nav {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    font-size: .9em;
}

.nav ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
}

.nav li {
    padding: 0px 10px;
}

.nav a {
    color: var(--highlight-text-light);
    text-decoration: none;
}